<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue </title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <section id="app">
    <header>
      <div class="container">
        <h1>{{message}}</h1>
        <div class="navigation">
          <button @click="setShowComment">{{showComment ? 'Hide': 'Show'}} Comment</button>
          <button @click="setShowName">{{showName ? 'Hide': 'Show'}} User Name</button>
          <button @click="setShowProducts">{{showName ? 'Hide': 'Show'}} Products</button>
        </div>

      </div>


    </header>


    <div class="messege">
      <div class="container">
        <div class="showComment" v-if="showComment">
          <h2>Comment</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta corrupti quisquam facilis molestiae
            impedit
            maiores a, esse suscipit dolorum aperiam praesentium delectus? Enim architecto laudantium dignissimos nam
            est,
            asperiores vero quo quisquam hic nobis velit neque ratione ad? Voluptate eos vitae blanditiis veritatis odio
            est
            explicabo beatae obcaecati modi consequuntur.</p>
        </div>

        <div v-else="">
          <h2>comment is hiden now.</h2>
        </div>

        <div v-show="showName">
          <h2>My Name is Hadi</h2>
        </div>

        <ul v-if="showProducts">
          <h2>Products</h2>
          <li v-for="product in products">
            <h3>{{product.name}} : {{product.price}}</h3>
          </li>
        </ul>
        

      </div>


    </div>

  </section>

</body>

</html>